* {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: 'Asap', sans-serif;
}

body {
  background-color: #605f59;
}

/* Gray meeting Color Palette color-hex.com */
h1, h2 {
  color: #cfc8b9;
  margin: 10px;
  text-align: center;
}

p {
  color: #cfc8b9;
  text-align: center;
  font-size: 22px;
}

button {
  display: block;
  background-color: #8e1d08;
  color: #fef4e2;
  padding: 28px;
  width: 400px;
  font-size: 28px;
  justify-content: space-between;
  flex-flow: row nowrap;
  align-items: flex-start;
  border: 1px solid #723d0a;
  border-radius: 10px;
}

.button-container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  padding-top: 50px;
}

#advice {
  margin-top: 50px;
}

#reset-button {
  display: none;
}

@media only screen and (max-width: 768px) {
  button {
    width: 300px;
  }

  .button-container {
    flex-direction: column;
  }

  #noButton {
    margin-top: 10px;
  }
}
